img{
  position: fixed;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  position: relative;
  padding-top: 120px;
  
  
  
  strong{
    color: var(--red);
  }
}

#intro:nth-child(2){
  gap: 8px;
  padding-inline: 23px;
}

#principal{
padding-top: 20px;
width: 680px;
padding-bottom: 80px;
}

#cards{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40px; ;
  gap: 16px;

  div > img{
    position: relative;
  }
  

}

#Vector{
  display: flex;
  justify-content: center;
  padding-top:120px;
}

