#inicial{
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  padding-top: 120px;
  
  
  
  strong{
    color: var(--red);
  }
}

#intro:nth-child(2){
  gap: 8px;
  padding-inline: 23px;
}

#principal{
padding-top: 20px;
width: 680px;
padding-bottom: 80px;
}

#cards{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  
  height: 40px; ;
  gap: 16px;
  

}

#Vector{
  display: flex;
  justify-content: center;
  padding-top:120px;
  
}

