.subtitle{
  font: var(--subtitle);
}

.title-lg{
  font: var(--title-lg);
}

.text-sm{
  font: var(--text-sm);
}

.text{
  font: var(--text);
}
.title-md{
  font: var(--title-md)
}

.title-sm{
  font: var(--title-sm);
}

.grid{
  display: grid;
}

.grid-flow-col{
  grid-auto-flow: column;
}

.gap-16{
  gap: 16px;
}

.gap-8{
  gap: 8px;
}

.gap-24{
  gap: 24px;
}

.content-tag{

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

max-width: 138px;
height: 40px;

/* Base/gray-400 */
background: #292C34;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

